<div class="container container-fluid mt-5">{{blog.id}}
  <div class="center-card" id="#single-blog">
    <h2>{{heading}}</h2>
    <div>
      <p><h3>By: {{user.name}}</h3>
      <h4>{{format_date createdAt}}</h4></p>
    </div>
    <h3>Content:</h3>
    <p>{{content}}</p>
  
    {{#each comments}}
      <div class="center-card">
    <p>comment from: {{user.name}}  <h4>{{format_date createdAt}}</h4></p>
      <p>{{remark}}</p>
      </div>
    {{/each}}
 
  </div>
</div>

